## Evaluating Environmental Impact of Exam Portfolio

### Import Packages
Dependencies are described in the README.md file

In [2]:
import os
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sns
import glob

## Load in Emissions Data 
The data is located in the ```out``` folder, and each of the .csv files ending with a run-id are loaded in to investigate the impact of the different tasks in each assignment. The individual .csv files are loaded into one dataframe, with columns containing the following information: 
- task_name: The manually specified name of the task
- project_name: The manually specified name of the assignment in which the task was performed
- duration: The time the task took to run, in seconds
- emisions: The approximate emisions from this task, in COâ‚‚-equivalents, in kg. 
- emissions_rate: The emissions per second (kg/s)

As the data is extracted per task, a second dataframe will be created with the totals for each assignment.

In [46]:
emissions = pd.DataFrame()
for file in sorted(glob.glob(os.path.join("../out/", "emissions_*"))):
    emissions = pd.concat([emissions, pd.read_csv(file, usecols=[0,2,4,5,6])])
emissions

,task_name,project_name,duration,emissions,emissions_rate
0,Visualising features,Assignment-1,7.817864,7.197657e-05,0.000009
0,Find artist,Assignment-3,0.681304,6.283050e-06,0.000009
1,Load model and find words,Assignment-3,12.653821,1.164590e-04,0.000009
2,Keyword query,Assignment-3,0.014269,1.311332e-07,0.000009
0,Load spacy model,Assignment-1,1.346084,1.240391e-05,0.000009
1,Feature extraction,Assignment-1,187.111034,1.722601e-03,0.000009
0,Load model,Assignment-4,21.219158,1.953576e-04,0.000009
1,Load data,Assignment-4,0.250360,2.298704e-06,0.000009
2,Emotion classification,Assignment-4,5182.650649,4.771336e-02,0.000009
3,Reshape data,Assignment-4,0.069852,6.388758e-07,0.000009
4,Plot emotions,Assignment-4,3.841459,3.535423e-05,0.000009

In [67]:
emissions_total = emissions[["project_name", "duration", "emissions"]].groupby(["project_name"]).sum().reset_index()
emissions_total

   project_name     duration  emissions
0  Assignment-1   196.274982   0.001807
1  Assignment-3    13.349394   0.000123
2  Assignment-4  5208.031479   0.047947